In [1]:
import pandas as pd

In [9]:
label_path = "../csvs/"
csvs = [label_path + str(i) + ".csv" for i in range(1, 10)]
print(csvs)

['../csvs/1.csv', '../csvs/2.csv', '../csvs/3.csv', '../csvs/4.csv', '../csvs/5.csv', '../csvs/6.csv', '../csvs/7.csv', '../csvs/8.csv', '../csvs/9.csv']

In [10]:
csv_df = []

for csv in csvs:
    csv_df.append(pd.read_csv(csv, names = ["image", "label"], dtype = {"image" : str, "label" : str}))

In [11]:
label = pd.concat(csv_df, ignore_index = True)

In [12]:
label

        image  label
0       0.jpg  00000
1       1.jpg  00000
2       2.jpg  00000
3       3.jpg  00000
4       4.jpg  00000
...       ...    ...
7546  821.jpg  10000
7547  822.jpg  10000
7548  823.jpg  10000
7549  824.jpg  10000
7550  825.jpg  10000

[7551 rows x 2 columns]

In [13]:
label["label"].value_counts()

10000    3464
11000    1464
10100    1258
10101     345
00000     238
10010     208
01000     206
11100     128
00100      91
11001      56
01100      31
10110      31
11010      29
11110       1
10111       1
Name: label, dtype: int64